.DS_Store
bin/
obj/
.vs/
*.user
*.suo
.idea/
Solution1/

# Test results
TestResults/

# Test specs
openapi/

# Test JS deps
Rivet.Tests/js/node_modules/

# Docs
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
