onlyBuiltDependencies[]=@ladybugdb/core
onlyBuiltDependencies[]=gitnexus
onlyBuiltDependencies[]=onnxruntime-node
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=tree-sitter
onlyBuiltDependencies[]=tree-sitter-c
onlyBuiltDependencies[]=tree-sitter-c-sharp
onlyBuiltDependencies[]=tree-sitter-cpp
onlyBuiltDependencies[]=tree-sitter-go
onlyBuiltDependencies[]=tree-sitter-java
onlyBuiltDependencies[]=tree-sitter-javascript
onlyBuiltDependencies[]=tree-sitter-kotlin
onlyBuiltDependencies[]=tree-sitter-php
onlyBuiltDependencies[]=tree-sitter-python
onlyBuiltDependencies[]=tree-sitter-ruby
onlyBuiltDependencies[]=tree-sitter-rust
onlyBuiltDependencies[]=tree-sitter-typescript
ignoredBuiltDependencies[]=@scarf/scarf
